body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: green;
    display: grid;
    grid-template-columns: auto auto;
    grid-column: auto;
}
.header h1{
    margin: 0px;
    margin-top: 10px;
    color: whitesmoke;
    text-transform: capitalize;
}
.nav ul {
    list-style: none;
    margin-top: 14px;
    margin-left: 418px;
}
.nav ul li{
    display: inline;
}
.nav ul li a {
    padding: 10px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
.nav ul li :hover{
    background-color: aqua;
    color: coral;
    border-radius: 15px;
    transition: all 1s;
}
.banner-img img{
    width: 100%;
    height: auto;
}
.service_section{
    background-color: rgba(0, 0, 0, 0.651);
    margin: -4px;
    padding: 0;  
    width: 98%;
    padding-left: 31px;
    padding-bottom: 20px;
}
.service_title h1{
    margin: 0;
    color: wheat;
    text-align: center;
    padding-top: 15px;
}
.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.service{
    border: 1px solid rgba(255, 166, 0, 0.418);
    margin: 5px;
    box-shadow: 6px 6px 0px rgb(128 128 128 / 35%);
    text-align: center;
    width: 80%;
}
.service h4{
    text-align: center;
    color: antiquewhite;
}
.service span {
    color: antiquewhite;
}
.service:hover{
    transform: scale(1.2);
    transition: all ease 2s;
}
.info_section{
    display: flex;
    padding-top: 20px;
    background-image: linear-gradient(90deg,orange,red);
    padding-bottom: 20px;
    
}
.info_img img{
    width: 70%;
    margin-left: 5px;
}

.footer{
    text-align: center;
    background-image: linear-gradient(90deg,gray,rgb(0, 0, 0));
    padding-top: 7px;
    padding-bottom: 7px;
}
.footer p{
    margin: 0;
    color: aliceblue;
}
